.App-Container {
  margin: 65px auto;
  width: 400px;
  height: 224px;
  text-align: center;
  color: rgb(72, 100, 240);
  border: 3px solid rgb(72, 100, 240);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.main {
  margin: 28px auto;
}

.margin-5 {
  margin: 5px auto;
}

button {
  width: 100px;
  height: 35px;
  margin: 10px 10px;
  border: 2px solid rgb(72, 100, 240);
  border-radius: 8px;
  color:rgb(228, 230, 238);
  background-color: rgb(47, 86, 182);
}

button:hover {
  background-color: rgb(72, 100, 240);
}
